USE [PreguntadOrt]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 19/9/2024 14:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Foto] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dificultades]    Script Date: 19/9/2024 14:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dificultades](
	[IdDificultad] [int] NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Foto] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDificultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 19/9/2024 14:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[IdPregunta] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NULL,
	[IdDificultad] [int] NULL,
	[Enunciado] [varchar](255) NOT NULL,
	[Foto] [varchar](255) NULL,
 CONSTRAINT [PK__Pregunta__754EC09E8F032EEB] PRIMARY KEY CLUSTERED 
(
	[IdPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuestas]    Script Date: 19/9/2024 14:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuestas](
	[IdRespuesta] [int] IDENTITY(1,1) NOT NULL,
	[IdPregunta] [int] NULL,
	[Opcion] [int] NOT NULL,
	[Contenido] [varchar](255) NOT NULL,
	[Correcta] [bit] NOT NULL,
	[Foto] [varchar](255) NULL,
 CONSTRAINT [PK__Respuest__D3480198330D83D0] PRIMARY KEY CLUSTERED 
(
	[IdRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Foto]) VALUES (1, N'Macroeconomía', N'../Imagenes/1.webp')
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Foto]) VALUES (2, N'Microeconomía', N'../Imagenes/2.webp')
INSERT [dbo].[Categorias] ([IdCategoria], [Nombre], [Foto]) VALUES (3, N'Finanzas Personales', N'../Imagenes/3.webp')
GO
INSERT [dbo].[Dificultades] ([IdDificultad], [Nombre], [Foto]) VALUES (1, N'Fácil', N'../Imagenes/easy.webp')
INSERT [dbo].[Dificultades] ([IdDificultad], [Nombre], [Foto]) VALUES (2, N'Intermedio', N'../Imagenes/medium.webp')
INSERT [dbo].[Dificultades] ([IdDificultad], [Nombre], [Foto]) VALUES (3, N'Difícil', N'../Imagenes/hard.webp')
GO
SET IDENTITY_INSERT [dbo].[Preguntas] ON 

INSERT [dbo].[Preguntas] ([IdPregunta], [IdCategoria], [IdDificultad], [Enunciado], [Foto]) VALUES (1, 1, 1, N'¿Qué es el PIB?', N'../Imagenes/pib.png')
INSERT [dbo].[Preguntas] ([IdPregunta], [IdCategoria], [IdDificultad], [Enunciado], [Foto]) VALUES (2, 1, 2, N'¿Qué es la inflación?', N'../Imagenes/inflacion.png')
INSERT [dbo].[Preguntas] ([IdPregunta], [IdCategoria], [IdDificultad], [Enunciado], [Foto]) VALUES (3, 1, 3, N'¿Qué es la política monetaria?', N'../Imagenes/politica_monetaria.png')
GO
SET IDENTITY_INSERT [dbo].[Preguntas] OFF
GO
SET IDENTITY_INSERT [dbo].[Respuestas] ON 

INSERT [dbo].[Respuestas] ([IdRespuesta], [IdPregunta], [Opcion], [Contenido], [Correcta], [Foto]) VALUES (1, 1, 1, N'Producto Interno Bruto', 1, N'../Imagenes/pib_a.png')
INSERT [dbo].[Respuestas] ([IdRespuesta], [IdPregunta], [Opcion], [Contenido], [Correcta], [Foto]) VALUES (2, 1, 2, N'Precio de Bienes', 0, N'../Imagenes/pib_b.png')
INSERT [dbo].[Respuestas] ([IdRespuesta], [IdPregunta], [Opcion], [Contenido], [Correcta], [Foto]) VALUES (3, 1, 3, N'Tasa de Interés', 0, N'../Imagenes/pib_c.png')
GO
SET IDENTITY_INSERT [dbo].[Respuestas] OFF
GO
ALTER TABLE [dbo].[Preguntas]  WITH CHECK ADD  CONSTRAINT [FK__Preguntas__IdCat__3C69FB99] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Preguntas] CHECK CONSTRAINT [FK__Preguntas__IdCat__3C69FB99]
GO
ALTER TABLE [dbo].[Preguntas]  WITH CHECK ADD  CONSTRAINT [FK__Preguntas__IdDif__3D5E1FD2] FOREIGN KEY([IdDificultad])
REFERENCES [dbo].[Dificultades] ([IdDificultad])
GO
ALTER TABLE [dbo].[Preguntas] CHECK CONSTRAINT [FK__Preguntas__IdDif__3D5E1FD2]
GO
ALTER TABLE [dbo].[Respuestas]  WITH CHECK ADD  CONSTRAINT [FK__Respuesta__IdPre__3E52440B] FOREIGN KEY([IdPregunta])
REFERENCES [dbo].[Preguntas] ([IdPregunta])
GO
ALTER TABLE [dbo].[Respuestas] CHECK CONSTRAINT [FK__Respuesta__IdPre__3E52440B]
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerCategorias]    Script Date: 19/9/2024 14:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerCategorias]
AS
BEGIN
    SELECT * FROM Categorias;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerDificultades]    Script Date: 19/9/2024 14:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerDificultades]
AS
BEGIN
    SELECT * FROM Dificultades;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPreguntas]    Script Date: 19/9/2024 14:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerPreguntas]
    @Dificultad INT,
    @Categoria INT
AS
BEGIN
    SELECT * FROM Preguntas
    WHERE (IdDificultad = @Dificultad OR @Dificultad = -1)
      AND (IdCategoria = @Categoria OR @Categoria = -1);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerRespuestaPorId]    Script Date: 19/9/2024 14:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerRespuestaPorId]
    @IdRespuesta INT
AS
BEGIN
    SELECT * FROM Respuestas
    WHERE IdRespuesta = @IdRespuesta;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerRespuestas]    Script Date: 19/9/2024 14:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerRespuestas]
    @IdPregunta INT
AS
BEGIN
    SELECT * FROM Respuestas
    WHERE IdPregunta = @IdPregunta;
END;

GO
/****** Object:  StoredProcedure [dbo].[VerificarIntegridadDatos]    Script Date: 19/9/2024 14:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerificarIntegridadDatos]
AS
BEGIN
    -- Variable para almacenar el conteo de errores
    DECLARE @errorCount INT;
    SET @errorCount = 0;

    -- Variable para almacenar los mensajes
    DECLARE @messages NVARCHAR(MAX);
    SET @messages = N'';

    -- Agregar encabezado al mensaje
    SET @messages = @messages + '=========================================================='+ CHAR(13) + CHAR(10);
    SET @messages = @messages + '        Iniciando Comprobación de Integridad de Datos'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + '=========================================================='+ CHAR(13) + CHAR(10);

    -- Verificar que todas las preguntas tengan al menos una respuesta
    SET @messages = @messages + CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + 'Comprobando que todas las preguntas tengan al menos una respuesta...'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    IF EXISTS (
        SELECT p.IdPregunta, p.Enunciado
        FROM dbo.Preguntas p
        LEFT JOIN dbo.Respuestas r ON p.IdPregunta = r.IdPregunta
        WHERE r.IdPregunta IS NULL
    )
    BEGIN
        SET @errorCount = @errorCount + 1;
        SET @messages = @messages + 'ERROR: Las siguientes preguntas no tienen respuestas:'+ CHAR(13) + CHAR(10);
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
        SELECT @messages = @messages + 'ID Pregunta: ' + CAST(p.IdPregunta AS NVARCHAR) + ', Enunciado: ' + p.Enunciado + CHAR(13) + CHAR(10)
        FROM dbo.Preguntas p
        LEFT JOIN dbo.Respuestas r ON p.IdPregunta = r.IdPregunta
        WHERE r.IdPregunta IS NULL;
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
    END
    ELSE
    BEGIN
        SET @messages = @messages + 'Todas las preguntas tienen al menos una respuesta.'+ CHAR(13) + CHAR(10);
    END

    -- Verificar que haya al menos 10 preguntas por cada categoría y dificultad
    SET @messages = @messages + CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + 'Comprobando que haya al menos 10 preguntas por cada categoría y dificultad...'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    IF EXISTS (
        SELECT IdCategoria, IdDificultad
        FROM dbo.Preguntas
        GROUP BY IdCategoria, IdDificultad
        HAVING COUNT(IdPregunta) < 10
    )
    BEGIN
        SET @errorCount = @errorCount + 1;
        SET @messages = @messages + 'ERROR: Las siguientes combinaciones de categoría y dificultad no tienen al menos 10 preguntas:'+ CHAR(13) + CHAR(10);
        SET @messages = @messages + '--------------------------------------------------------------------'+ CHAR(13) + CHAR(10);
        SELECT @messages = @messages + 'Categoría: ' + c.Nombre + ', Dificultad: ' + d.Nombre + ', Número de Preguntas: ' + CAST(COUNT(p.IdPregunta) AS NVARCHAR) + CHAR(13) + CHAR(10)
        FROM dbo.Preguntas p
        JOIN dbo.Categorias c ON p.IdCategoria = c.IdCategoria
        JOIN dbo.Dificultades d ON p.IdDificultad = d.IdDificultad
        GROUP BY c.Nombre, d.Nombre
        HAVING COUNT(p.IdPregunta) < 10;
        SET @messages = @messages + '--------------------------------------------------------------------'+ CHAR(13) + CHAR(10);
    END
    ELSE
    BEGIN
        SET @messages = @messages + 'Todas las categorías y dificultades tienen al menos 10 preguntas.'+ CHAR(13) + CHAR(10);
    END

    -- Verificar que todas las respuestas tengan opciones únicas por pregunta
    SET @messages = @messages + CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + 'Comprobando que todas las respuestas tengan opciones únicas por pregunta...'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    IF EXISTS (
        SELECT IdPregunta, Opcion
        FROM dbo.Respuestas
        GROUP BY IdPregunta, Opcion
        HAVING COUNT(*) > 1
    )
    BEGIN
        SET @errorCount = @errorCount + 1;
        SET @messages = @messages + 'ERROR: Hay respuestas con opciones duplicadas para una misma pregunta:'+ CHAR(13) + CHAR(10);
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
        SELECT @messages = @messages + 'ID Pregunta: ' + CAST(r.IdPregunta AS NVARCHAR) + ', Enunciado: ' + p.Enunciado + ', Opción Duplicada: ' + CAST(r.Opcion AS NVARCHAR) + CHAR(13) + CHAR(10)
        FROM dbo.Respuestas r
        JOIN dbo.Preguntas p ON r.IdPregunta = p.IdPregunta
        GROUP BY r.IdPregunta, p.Enunciado, r.Opcion
        HAVING COUNT(*) > 1;
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
    END
    ELSE
    BEGIN
        SET @messages = @messages + 'Todas las respuestas tienen opciones únicas por pregunta.'+ CHAR(13) + CHAR(10);
    END

    -- Verificar que todas las respuestas tengan un contenido
    SET @messages = @messages + CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + 'Comprobando que todas las respuestas tengan un contenido...'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    IF EXISTS (
        SELECT IdRespuesta, IdPregunta, Opcion
        FROM dbo.Respuestas
        WHERE LTRIM(RTRIM(Contenido)) = '' OR Contenido IS NULL
    )
    BEGIN
        SET @errorCount = @errorCount + 1;
        SET @messages = @messages + 'ERROR: Las siguientes respuestas no tienen contenido:'+ CHAR(13) + CHAR(10);
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
        SELECT @messages = @messages + 'ID Respuesta: ' + CAST(IdRespuesta AS NVARCHAR) + ', ID Pregunta: ' + CAST(IdPregunta AS NVARCHAR) + ', Opción: ' + CAST(Opcion AS NVARCHAR) + CHAR(13) + CHAR(10)
        FROM dbo.Respuestas
        WHERE LTRIM(RTRIM(Contenido)) = '' OR Contenido IS NULL;
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
    END
    ELSE
    BEGIN
        SET @messages = @messages + 'Todas las respuestas tienen contenido.'+ CHAR(13) + CHAR(10);
    END

    -- Verificar que cada pregunta tenga una respuesta correcta
    SET @messages = @messages + CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + 'Comprobando que cada pregunta tenga al menos una respuesta correcta...'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    IF EXISTS (
        SELECT IdPregunta, Enunciado
        FROM dbo.Preguntas p
        WHERE NOT EXISTS (
            SELECT 1
            FROM dbo.Respuestas r
            WHERE r.IdPregunta = p.IdPregunta AND r.Correcta = 1
        )
    )
    BEGIN
        SET @errorCount = @errorCount + 1;
        SET @messages = @messages + 'ERROR: Las siguientes preguntas no tienen ninguna respuesta correcta:'+ CHAR(13) + CHAR(10);
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
        SELECT @messages = @messages + 'ID Pregunta: ' + CAST(p.IdPregunta AS NVARCHAR) + ', Enunciado: ' + p.Enunciado + CHAR(13) + CHAR(10)
        FROM dbo.Preguntas p
        WHERE NOT EXISTS (
            SELECT 1
            FROM dbo.Respuestas r
            WHERE r.IdPregunta = p.IdPregunta AND r.Correcta = 1
        );
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
    END
    ELSE
    BEGIN
        SET @messages = @messages + 'Cada pregunta tiene al menos una respuesta correcta.'+ CHAR(13) + CHAR(10);
    END

    -- Verificar que no haya más de una respuesta correcta por pregunta
    SET @messages = @messages + CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + 'Comprobando que no haya más de una respuesta correcta por pregunta...'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    IF EXISTS (
        SELECT IdPregunta
        FROM dbo.Respuestas
        WHERE Correcta = 1
        GROUP BY IdPregunta
        HAVING COUNT(*) > 1
    )
    BEGIN
        SET @errorCount = @errorCount + 1;
        SET @messages = @messages + 'ERROR: Las siguientes preguntas tienen más de una respuesta correcta:'+ CHAR(13) + CHAR(10);
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
        SELECT @messages = @messages + 'ID Pregunta: ' + CAST(IdPregunta AS NVARCHAR) + CHAR(13) + CHAR(10)
        FROM dbo.Respuestas
        WHERE Correcta = 1
        GROUP BY IdPregunta
        HAVING COUNT(*) > 1;
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
    END
    ELSE
    BEGIN
        SET @messages = @messages + 'Cada pregunta tiene como máximo una respuesta correcta.'+ CHAR(13) + CHAR(10);
    END

    -- Verificar que todas las preguntas tengan fotos asociadas
    SET @messages = @messages + CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + 'Comprobando que todas las preguntas tengan fotos asociadas...'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    IF EXISTS (
        SELECT IdPregunta, Enunciado
        FROM dbo.Preguntas
        WHERE LTRIM(RTRIM(Foto)) = '' OR Foto IS NULL
    )
    BEGIN
        SET @errorCount = @errorCount + 1;
        SET @messages = @messages + 'ERROR: Las siguientes preguntas no tienen fotos asociadas:'+ CHAR(13) + CHAR(10);
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
        SELECT @messages = @messages + 'ID Pregunta: ' + CAST(IdPregunta AS NVARCHAR) + ', Enunciado: ' + Enunciado + CHAR(13) + CHAR(10)
        FROM dbo.Preguntas
        WHERE LTRIM(RTRIM(Foto)) = '' OR Foto IS NULL;
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
    END
    ELSE
    BEGIN
        SET @messages = @messages + 'Todas las preguntas tienen fotos asociadas.'+ CHAR(13) + CHAR(10);
    END

    -- Verificar que todas las respuestas tengan fotos asociadas
    SET @messages = @messages + CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + 'Comprobando que todas las respuestas tengan fotos asociadas...'+ CHAR(13) + CHAR(10);
    SET @messages = @messages + '----------------------------------------------------------'+ CHAR(13) + CHAR(10);
    IF EXISTS (
        SELECT IdRespuesta, IdPregunta, Opcion
        FROM dbo.Respuestas
        WHERE LTRIM(RTRIM(Foto)) = '' OR Foto IS NULL
    )
    BEGIN
        SET @errorCount = @errorCount + 1;
        SET @messages = @messages + 'ERROR: Las siguientes respuestas no tienen fotos asociadas:'+ CHAR(13) + CHAR(10);
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
        SELECT @messages = @messages + 'ID Respuesta: ' + CAST(IdRespuesta AS NVARCHAR) + ', ID Pregunta: ' + CAST(IdPregunta AS NVARCHAR) + ', Opción: ' + CAST(Opcion AS NVARCHAR) + CHAR(13) + CHAR(10)
        FROM dbo.Respuestas
        WHERE LTRIM(RTRIM(Foto)) = '' OR Foto IS NULL;
        SET @messages = @messages + '---------------------------------------------------'+ CHAR(13) + CHAR(10);
    END
    ELSE
    BEGIN
        SET @messages = @messages + 'Todas las respuestas tienen fotos asociadas.'+ CHAR(13) + CHAR(10);
    END

    -- Mostrar mensajes finales
    SET @messages = @messages + '=========================================================='+ CHAR(13) + CHAR(10);
    IF @errorCount = 0
    BEGIN
        SET @messages = @messages + 'Comprobación completa: No se encontraron errores en los datos.'+ CHAR(13) + CHAR(10);
    END
    ELSE
    BEGIN
        SET @messages = @messages + 'Comprobación completa: Se encontraron ' + CAST(@errorCount AS NVARCHAR) + ' errores en los datos.'+ CHAR(13) + CHAR(10);
    END
    SET @messages = @messages + '=========================================================='+ CHAR(13) + CHAR(10);

    -- Imprimir todos los mensajes
    PRINT @messages;
END;
GO
