<section class="seccion-interna configurar-nombre">
    <form asp-action="GuardarNombre" method="post" class="form-juego">
        <h1>Configura tu Nombre</h1>

        <div class="input-container">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" required placeholder="Escribe tu nombre aquí..." />
        </div>

        <button type="submit" class="btn-jugar">Siguiente</button>
    </form>
</section>
