@{
    ViewBag.Title = "Fin del Juego - PreguntadORT";
    string username = ViewBag.Username; 
    int? puntajeFinal = ViewBag.PuntajeFinal;
}

<section class="seccion-interna fin-juego">
    <h2>¡Juego Terminado!</h2>
    <p>Muchas gracias <strong>@ViewBag.Username</strong> por participar, te invitamos a seguir jugando con otras categorías y dificultades.</p>
    <p>Puntaje final: <strong>@ViewBag.PuntajeFinal</strong></p>
    
    <a href="@Url.Action("Index", "Home")" class="btn-jugar">Volver a Jugar</a>
</section>