@{
    ViewBag.Title = "Fin del Juego - PreguntadORT";
    string username = ViewBag.Username; // Nombre del usuario
    int? puntajeFinal = ViewBag.PuntajeFinal; // Puntaje final del usuario
}

<h2>¡Juego Terminado!</h2>
<p>Nombre de usuario: <strong>@username</strong></p>
<p>Puntaje final: <strong>@puntajeFinal</strong></p>

<a href="@Url.Action("ConfigurarJuego", "Home")" class="button">Volver a Jugar</a>