@{
    ViewBag.Title = "Inicio - PreguntadORT";
}

<section class="inicio" id="inicio">
  <div class="inicio-video">
    <div id="player"></div>
  </div>

  <div class="inicio-overlay"></div>

  <div class="cuadrante-momentaneo">
  </div>

  <div class="inicio-inner">
    <h1 id="texto"></h1>
    <h3>Juego de preguntas sobre Economía y Finanzas desde el nivel básico hasta el avanzado. Ideal para estimular y desarrollar las áreas fundamentales del pensamiento económico.</h3>

    <div class="colaboraciones">
      <a class="boton b1 button" href="@Url.Action("ConfigurarNombre", "Home")"><h2>Comenzar</h2></a>
    </div>
  </div>

  <img class="arco" src="img/arco.svg" alt="">
</section>