@{
    ViewBag.Title = "Resultado - PreguntadORT";
    bool esCorrecta = ViewBag.EsCorrecta; // Indica si la respuesta fue correcta
    Respuesta respuestaCorrecta = ViewBag.RespuestaCorrecta; // La respuesta correcta (si la respuesta fue incorrecta)
}

<section class="seccion-interna resultado">
    <div class="result @(ViewBag.EsCorrecta ? "correct" : "incorrect")">
        @if (ViewBag.EsCorrecta)
        {
            <img src="../Imagenes/tick.svg"><img>
            <h2>¡Respuesta Correcta!</h2>
        }
        else
        {     
            <img src="../Imagenes/cruz.svg"><img>
            <p>¡Respuesta Incorrecta! La respuesta correcta era: <strong>@ViewBag.RespuestaCorrecta.Contenido</strong></p>
        }

        <a href="@Url.Action("Jugar", "Home")" class="btn-jugar">Siguiente Pregunta</a>
    </div>
</section>