/* ---------------------------------- Variables de Colores ---------------------------------- */
:root {
  --color-oliva: #8C9A6D;
  --color-blanco-humo: #F5F5F5;
  --color-gris-claro: #C0C0C0;
  --color-rojo-granate: #B04A47;  
  --color-azul-acero: #708090;  
}

/* ---------------------------------- General Styles ---------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-blanco-humo);
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
}

h1, h2, h3{
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Montserrat', sans-serif;
}
  
h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
  color: var(--color-azul-acero);
}

h3 {
  font-weight: 500;
  color: var(--color-oliva);
}

/* ---------------------------------- Layout ---------------------------------- */

main {
  flex: 1;
  padding: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blanco-humo);
}

/* ---------------------------------- Index ---------------------------------- */

.seccion-interna {
  padding-block: 6rem;
}

/* Button Styling */

.button {
  background-color: var(--color-azul-acero);
  color: white;
  padding: 20px 80px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: fit-content;
  max-width: 350px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.button:hover {
  background-color: var(--color-rojo-granate);
}

.button, 
.response-container button, 
#submit-btn {
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease;
}

.button:hover, 
.response-container button:hover, 
#submit-btn:hover {
  background-color: var(--color-rojo-granate);
}

.inicio {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 1080px;
  min-height: 500px;
  position: relative;
  background-color: var(--color-gris-claro);
}

.inicio .arco{
  position: absolute;
  width: 100%;
  z-index: 2;
  border: none;
  bottom: -2vw;
}

.inicio-video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.inicio-video iframe {
  min-width: 100vw;
  min-height: 100vh;
}

.inicio-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-azul-acero);
  z-index: 1;
  opacity: .55;
}

.inicio-inner {
  width: auto;
  height: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; 
  gap: .8rem;
  z-index: 2;
}

.inicio-inner h1 {
  font-size: 3.5rem;
  width: 95%;
  color: var(--color-blanco-humo);
  line-height: 3.8rem;
}

.inicio-inner h3 {
  font-size: 1.2rem;
  width: 87%;
  line-height: 1.5rem;
  color: var(--color-blanco-humo);
  transform: translate( 0 , 800px);
  opacity: 0;
  animation: aparecerAbajo 1.5s ease-out forwards;
  animation-delay: 2.6s;
}

@keyframes aparecerAbajo {
  0%{
    transform: translate( 0 , 350px);
    opacity: .3;
  }
  100%{
    transform: translate(0);
    opacity: .85;
  }
}

.colaboraciones {
  display: flex;
  gap: 1rem;
  padding-top: .5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  opacity: 0;
  animation: aparecerImg 2s forwards;
  animation-delay: 4.1s;
}

@keyframes aparecerImg {
  0%{
    opacity: 0;
  }
  100%{
    transform: translate(0);
    opacity: 1;
  }
}

/* ---------------------------------- Header and Footer ---------------------------------- */

header, footer {
  color: white;
  padding: 0px;
  text-align: center;
  width: 100%;
  display: flex;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 1rem;
}

header, header nav {
  background-color: transparent !important;
}

.navbar {
  display: flex;
  align-items: center;
}

.logo img {
  width: 125px;
  transition: transform 0.3s ease;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--color-rojo-granate);
}

/* ---------------------------------- Configuración de Juego ---------------------------------- */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
  font-size: 18px;
  color: var(--color-oliva);
}

input[type="text"] {
  margin-bottom: 15px;
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid var(--color-gris-claro);
  width: 100%;
  max-width: 350px;
  font-size: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CARDS DIFICULTADES */

.l-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 80%;
}

@media screen and (max-width: 760px) {
  .l-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.b-game-card {
  position: relative;
  height: 300px;
}

.b-game-card__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b-game-card__cover .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
}

.b-game-card__cover h3 {
  z-index: 1;
  text-align: center;
}

.b-game-card__cover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
  transform: translateY(-20%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}

.b-game-card:hover .b-game-card__cover {
  transform: rotateX(7deg) translateY(-6px);
}

.b-game-card:hover .b-game-card__cover::after {
  transform: translateY(0%);
}

.b-game-card::before {
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
  will-change: opacity;
  transform-origin: top center;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}

.b-game-card:hover::before {
  opacity: 0.6;
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
}

/* CARDS CATEGORÍAS */

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  width: 80%;
}

@media(min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}

.card {
  position: relative;
  list-style: none;
  background-color: transparent !important;
  border: none !important;
}

.card:before {
  content: '';
  display: block;
  height: 300px; /* Fija una altura específica si prefieres una altura fija */
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1);
  transition: transform 200ms linear, filter 200ms linear;
  border-radius: 20px;
}

.card:hover .card__background {
  transform: scale(1.05);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: 1rem;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.card__heading {
  color: var(--color-blanco-humo);
  font-size: 2.25rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  font-weight: 600;
  width: 100%;
}

/* Botón de Comenzar */
.btn-jugar {
  background-color: var(--color-azul-acero);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

.btn-jugar:hover {
  background-color: var(--color-rojo-granate);
}

/* Image Styling */
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

/* ---------------------------------- Respuesta ---------------------------------- */

/* Result Message Styles */
.result.correct {
  background-color: var(--color-oliva);
  border-color: var(--color-oliva);
  color: var(--color-blanco-humo);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.result.incorrect {
  background-color: var(--color-rojo-granate);
  border-color: var(--color-rojo-granate);
  color: var(--color-blanco-humo);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.correct-answer {
  margin-top: 15px;
  font-size: 18px;
  color: var(--color-oliva);
  text-align: center;
}

.correct-answer strong {
  color: var(--color-azul-acero);
}

/* Question and Response Styles */
.question-container {
  margin: 20px 0;
  text-align: center;
}

.response-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: var(--color-azul-acero);
  color: white;
  font-size: 16px;
  width: 100%;
  max-width: 350px;
}

.response-container button img {
  margin-right: 10px;
  border-radius: 4px;
}